*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(237,66,66);
    background: linear-gradient(90deg, rgba(237,66,66,1) 0%, rgba(181,151,91,1) 47%, rgba(169,200,19,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.content{
    background-color: #0006;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 15px;
}
#text-input {
    padding: 8px;
    font-size: 14px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#text-input:focus {
    outline:none;
    box-shadow: 0px 0px 15px rgba(99,99,99,.95);
    background-color: #fff;
}

#check-btn {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:15px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
#check-btn:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

#result {
    font-size: 20px;
    color:#fff;
    text-wrap: wrap;
    text-align: center;
}